@model MusicianApp.Models.Person

@{
    ViewData["Title"] = "GetRestoreEmail";
}

<h2>Update password</h2>
<h4>@TempData["passMessage"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="GetRestoreEmail">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MemberId" />
            <div class="form-group">
                <input asp-for="FirstName" type="hidden" />
            </div>
            <div class="form-group">
                <input asp-for="LastName" type="hidden" />
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="AssociationDate" type="hidden" />
            </div>
            <div class="form-group">
                <input asp-for="Email" type="hidden" />
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="Request" />
            </div>
            <div class="form-group">
                <input asp-for="BalanceDue" type="hidden" />
            </div>
            <div class="form-group">
                <input asp-for="Balance" type="hidden" />
            </div>
            <div class="form-group">
                <input asp-for="StatusId" type="hidden" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
